[Unit]
Description=Conceal Mining
After=network.target

[Service]
Type=simple
# Another Type option: forking
User=root
WorkingDirectory=/opt/xmr-stak/build/bin
ExecStart=/opt/xmr-stak/build/bin/xmr-stak
ExecStartPost=/opt/oc-amd/oc-amd.sh
Restart=always
RestartSec=30
ExecStop=/opt/oc-amd/oc-amd.sh reset

[Install]
WantedBy=multi-user.target
